.cr1{
   font-size: 80px;
   text-align: center;
   background-color: #212529;
}


/* ---- Start Global ---- */
html {
   scrollbar-color: #515151 #aaa;
}
::-webkit-scrollbar {
   width: 15px;
   height: 15px;
}
::-webkit-scrollbar-track {
   background-color: #aaa;
}
::-webkit-scrollbar-thumb {
   background-color: #515151;
}
::selection {
   background-color: #616161;
}
/* ------------------- End Global ------------------- */
/* ---- Start  crud ---- */
div[class~="table-responsive"] {
   height: min(300px, 40vh);
   overflow: auto;
}
:is(table) :is(td:first-of-type, td:last-of-type) {
   white-space: nowrap;
}
/* ------------------- End crud ------------------- */
